<script type="text/javascript">
    function deleteLicense() {
        $.ajax({
            url: '@Url.Action("DeleteLicense", "Home")',
            type: 'POST',
            data: { licenseId: $("#idInput").val() },
			success: function (data) {
				$('#dataContainer').html(data);
			},
            error: function () {
                alert('Ошибка при выполнении действия');
            }
        });
    }
</script>

@if (TempData["AlertMessage"] != null)
{
	<div class="row">
		<div class="row">
			<div class="row">
				<div class="alert alert-info">
					@if (TempData["AlertMessage"] is string[] errors)
					{
						@foreach (var error in errors)
						{
							<li>@error</li>
						}
					}
				</div>
			</div>
		</div>
	</div>
}

<div class="row">
	<div class="col">
        <label>Id лицензии для удаления: </label>
        <input id="idInput"/>
        <button style="width:125px" class="btn btn-success" onclick="deleteLicense()">Удалить</button>
	</div>
</div>