<script type="text/javascript">
    function getToken() {
        $.ajax({
            url: '@Url.Action("GetCurrentToken", "Home")',
            type: 'POST',
            error: function () {
                alert('Ошибка при выполнении действия');
            }
        });
    }
</script>

<div class="row">
    <div class="col">
        <label>Текущий токен: </label>
        <input readonly="readonly" id="tokenInput" />
        <button style="width:125px" class="btn btn-success" onclick="getToken()">Получить</button>
    </div>
</div>