@model PagedResult<OrganizationsLiceses>

<script type="text/javascript">
    function updatePartial() {
        $.ajax({
            url: '@Url.Action("GetOrganizationsByPages", "Home")',
            type: 'GET',
            data: { page: $("#currenrPage").val(), pageSize: $("#pageSize").val() },
            success: function (data) {
                $('#dataContainer').html(data);
            },
            error: function () {
                alert('Ошибка при выполнении действия');
            }
        });
    }
</script>

<div class="row">
    <div class="col">
        <label>Укажите страницу: </label>
        <input id="currenrPage" />
        <label>Укажите размер 1 страницы: </label>
        <input id="pageSize" />
        <button style="width:125px" class="btn btn-success" onclick="updatePartial()">Получить</button>
        <label>Текущая страница: </label>
        <label>Всего стрвниц: </label>
    </div>
</div>

<div>
    <div>
        <table class="table table-stroiped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>ИНН</th>
                    <th>КПП</th>
                    <th>Ел. почта</th>
                    <th>Телефон</th>
                    <th>Лицензии</th>
                </tr>
            </thead>
            <tbody>
               
            </tbody>
        </table>
    </div>
</div>