
@{
    ViewData["Title"] = "Сервер лицензй";
}

@section Scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script type="text/javascript">
        function changePartial() {
            $.ajax({
                url: '@Url.Action("SetPartial", "Home")',
                type: 'POST',
                data: { partialId: $("#partialList").prop('selectedIndex') },
                success: function (data) {
                    $('#dataContainer').html(data);
                },
                error: function () {
                    alert('Ошибка при выполнении действия');
                }
            });
        }
    </script>
}

<div class="row">
    <div class="row">
        <div class="row">
            <label>Выберите действие: </label>
            <select name="sort" onchange="changePartial()" id="partialList">
                <option value="1">Получить лицензии по Id организации</option>
                <option value="2">Получить лицензии по Id организации по определенной программе</option>
                <option value="3">Создать лицензию</option>
                <option value="4">Удалить лицензию</option>

                <option value="5">Получить организации с их лиценизиями (постраничный вывод)</option>
                <option value="6">Добавить организацию</option>

                <option value="7">Получить все тарифы</option>
                <option value="8">Получить тариф по Id</option>
                <option value="9">Добавить тариф</option>

                <option value="10" selected="selected">Авторизация</option>
                <option value="11">Регистрация</option>
                <option value="12">Получение текущего токена</option>
            </select>
        </div>
    </div>
</div>

@if (TempData["AlertMessage"] != null)
{
    <br />
    <div class="row">
        <div class="row">
            <div class="row">
                <div class="alert alert-info">
                    @if (TempData["AlertMessage"] is string[] errors)
                    {
                        @foreach (var error in errors)
                        {
                            <li>@error</li>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
}

<br />

<div id="dataContainer">
    @await Html.PartialAsync("Partials/User/_UserLoginPartial", new UserAPI.UserAuthentificationRequest())
</div>
